[user]
  name = Fyodor Doletov
  email = doletov.fyodor@yandex.ru
[alias]
  br = branch
  co = checkout
  sw = switch
  st = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --date=short --graph
  ci = commit -S -m
  lch = rev-parse --short HEAD
  dsfs = dsf --staged
[credential]
  helper = store
[commit]
  gpgsign = true
[core]
  autocrlf = input
[init]
  defaultBranch = master
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

