#!/usr/bin/bash

xrdb ~/.Xresources

PATH=$PATH:$HOME/scripts
export PATH
XDG_CONFIG_HOME=~/.config
export XDG_CONFIG_HOME

# Fix for java applications
export _JAVA_AWT_WM_NONREPARENTING=1 
export AWT_TOOLKIT=MToolkit 
wmname LG3D

# GTK settings
export GTK_THEME=Sweet-Dark

# Unlock keyring
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

touchpad="DELL09E1:00 04F3:30CB Touchpad"
# Enable touchpad tap
xinput set-prop "$touchpad" "libinput Tapping Enabled" 1
# Enable natural touchpad scrolling
xinput set-prop "$touchpad" "libinput Natural Scrolling Enabled" 1

# Set layout switch to Win+Space
setxkbmap -layout us,ru -option "grp:win_space_toggle"

# Set wallpaper
feh --bg-scale --randomize ~/Pictures/Wallpapers/*

picom --experimental-backends &
killbar.sh
bar.sh &
flameshot &
sxhkd &

