#!/usr/bin/bash

xrdb ~/.Xresources

export PATH=$PATH:$HOME/scripts
export XDG_CONFIG_HOME=$HOME/.config
export EDITOR=nvim

# Fix for java applications
export _JAVA_AWT_WM_NONREPARENTING=1 
export AWT_TOOLKIT=MToolkit 
wmname LG3D

# Unlock keyring
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

touchpad="DELL09E1:00 04F3:30CB Touchpad"
# Enable touchpad tap
xinput set-prop "$touchpad" "libinput Tapping Enabled" 1
# Enable natural touchpad scrolling
xinput set-prop "$touchpad" "libinput Natural Scrolling Enabled" 1

# Set layout switch to Win+Space
setxkbmap -layout us,ru -option "grp:win_space_toggle"

# Set wallpaper
feh --bg-scale --randomize ~/Pictures/Wallpapers/*

# Additional programs and daemons
pulseaudio -D
picom &
dunst &
sxhkd &
CM_MAX_CLIPS=15 CM_SELECTIONS=clipboard clipmenud &

# Background scripts
pkill bar.sh
bar.sh &
pkill battery.sh
battery.sh &
$HOME/Projects/python/ranger-dbus/run.sh &

