#!/usr/bin/bash

xrdb ~/.Xresources

export PATH=$PATH:$HOME/scripts
export XDG_CONFIG_HOME=$HOME/.config
export EDITOR=nvim

# Fix for java applications
export _JAVA_AWT_WM_NONREPARENTING=1 
export AWT_TOOLKIT=MToolkit 
wmname LG3D

# GTK settings
export GTK_THEME=Sweet-Dark
export GTK2_RC_FILES="/usr/share/themes/Sweet-Dark/gtk-2.0/gtkrc"

# Unlock keyring
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

touchpad="DELL09E1:00 04F3:30CB Touchpad"
# Enable touchpad tap
xinput set-prop "$touchpad" "libinput Tapping Enabled" 1
# Enable natural touchpad scrolling
xinput set-prop "$touchpad" "libinput Natural Scrolling Enabled" 1

# Set layout switch to Win+Space
setxkbmap -layout us,ru -option "grp:win_space_toggle"

# Set wallpaper
feh --bg-scale --randomize ~/Pictures/Wallpapers/*

# Additional programs and daemons
picom --experimental-backends &
dunst &
sxhkd &

# Background scripts
killbar.sh
bar.sh &
battery.sh &

