XTerm.vt100.foreground: white
XTerm.vt100.background: black
XTerm.vt100.faceName: DroidSansMono:size=12:antialias=true
XTerm.vt100.font: 7x13

xterm*selectToClipboard: true
xterm*VT100.Translations: #override \
                 Shift <Key>Insert:    insert-selection(SELECT) \n\
                 Ctrl <Key>Insert:     copy-selection(SELECT) \n\

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Sxiv.background: #000000
Sxiv.foreground: #007799
