insmod part_gpt
insmod search_fs_uuid
insmod regexp
insmod png
insmod gfxterm
insmod efi_gop
insmod efi_uga
insmod lvm

search --no-floppy -s esp --fs-uuid 'A25F-97F1'

theme_name=adhde
theme_dir=$prefix/themes/$theme_name
theme=$theme_dir/theme.txt
export theme
loadfont $theme_dir/*.pf2
loadfont $prefix/fonts/unicode.pf2
lang=en
gfxmode=auto
terminal_output gfxterm

set superusers=root
# generate with grub-mkpasswd-pbkdf2
# password_pbkdf2 root grub.pbkdf2.sha512.10000.XXXXXXX

menuentry 'Artix Linux Zen' --class artix --unrestricted {
    cryptlvm_uuid=f6d6d4b7-05bf-48eb-8cad-06b3990ff8f7

    linux /boot/vmlinuz-linux-zen root=/dev/artdell/root cryptdevice=UUID=${cryptlvm_uuid}:cryptlvm:allow-discards cryptkey=rootfs:/etc/cryptsetup-keys.d/cryptlvm.key rw rootflags=noatime,nodev,shared vt.default_red=24,255,52,231,106,37,138,197,143,255,90,247,165,66,173,247 vt.default_grn=31,107,180,188,153,184,110,200,143,146,233,207,205,221,140,247 vt.default_blu=43,107,90,99,255,164,222,198,143,146,138,120,255,189,255,247

    initrd /boot/initramfs-linux-zen.img
}

#menuentry 'Windows 10' --class windows --unrestricted {
#    set root=$esp
#    chainloader /EFI/Microsoft/Boot/Bootmgfw.efi
#}

menuentry 'HolyArtix live' --class SystemRescueCD {
    isofile='/holyartix.iso'
    rootuuid='3203cd00-9c0e-44cf-993a-c64f7a8d5b15'
    search --no-floppy --fs-uuid --set=root $rootuuid
    loopback loop $isofile
    linux (loop)/arch/boot/x86_64/vmlinuz-linux img_dev=/dev/disk/by-uuid/${rootuuid} img_loop=$isofile earlymodules=loop copytoram
    initrd (loop)/arch/boot/x86_64/initramfs-linux.img
}

menuentry 'UEFI Settings' --class efi {
    fwsetup
}

menuentry 'Reboot' --class restart --unrestricted {
    reboot
}

menuentry 'Shutdown' --class shutdown --unrestricted {
    halt
}

