[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=java -jar %f
Icon=java

Name=Run Jar
Name[ru_RU]=Запуск Jar
Comment=Run the jar file
Comment[ru_RU]=Запуск файлов java
NoDisplay=1
