@define-color background #242757;
@define-color foreground #c5c8c6;
@define-color red #bd2c40;
@define-color orange #ffb52a;
@define-color green #38761d;
@define-color blue #6fa8dc;
@define-color light_purple #afa8ff;
@define-color purple #ae8bff;
@define-color dark_purple #90619e;
@define-color pink #e362c5;

* {
    font-family: Noto Sans, JetBrainsMono Nerd Font, Noto Sans CJK JP;
    font-size: 14px;
    font-style: normal;
}

tooltip label {
    font-weight: normal;
}

/* Bar itself */
window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    margin-right: 5px;
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    color: @light_purple;
    margin-left: 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#workspaces button.active {
    color: @blue;
    box-shadow: inset 0 3px @blue;
}

#workspaces button:not(.hidden) {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#taskbar button.active {
    box-shadow: inset 0 3px #9b98ff;
}

#taskbar button.maximized {
    box-shadow: inset 0 3px #89aa61ff;
}

#taskbar button.minimized {
    box-shadow: inset 0 3px @dark_purple;
}

#taskbar button.fullscreen {
    box-shadow: inset 0 3px @orange;
}

/* dwl#window module */
#window {
    margin-right: 10px;
    color: @light_purple;
    font-weight: bold;
}

#mpd,
#mpris,
#networkgroup,
#bluetooth,
#loadgroup,
#soundgroup,
#powergroup,
#clock {
    padding: 0 5px;
    font-weight: bold;
}

#mpd {
    box-shadow: inset 0 3px @dark_purple, inset 0 -3px @dark_purple;
}

#mpris {
    box-shadow: inset 0 3px @green, inset 0 -3px @green;
}

#networkgroup {
    box-shadow: inset 0 3px @pink, inset 0 -3px @pink;
}

#network.main {
    margin-right: 5px;
}

#network.vpn {
    margin-left: 5px;
}

#bluetooth {
    box-shadow: inset 0 3px @pink, inset 0 -3px @pink;
}

#loadgroup {
    box-shadow: inset 0 3px @purple, inset 0 -3px @purple;
}

#memory {
    margin-right: 5px;
}

#cpu {
    margin-left: 5px;
}

#soundgroup {
    box-shadow: inset 0 3px @blue, inset 0 -3px @blue;
}

#pulseaudio {
    margin-right: 5px;
}

#wireplumber {
    margin-left: 5px;
}

#powergroup {
    box-shadow: inset 0 3px @orange, inset 0 -3px @orange;
}

#battery {
    margin-right: 5px;
}

#backlight {
    margin-left: 5px;
}

#clock {
    box-shadow: inset 0 3px @dark_purple, inset 0 -3px @dark_purple;
}

#traygroup {
    padding: 0 5px;
    box-shadow: inset 0 3px @green, inset 0 -3px @green;
}

#privacy {
    margin-right: 5px;
    color: @orange;
}

#idle_inhibitor {
    margin: 0 5px;
}

#idle_inhibitor.activated {
    color: @orange;
}

#idle_inhibitor.deactivated {
    color: @foreground;
}

#tray {
    margin: 0 5px;
}

#custom-language {
    margin-left: 5px;
    font-weight: normal;
}

