// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}

web_client {
    font "JetBrainsMono Nerd Font"
}
 
theme "ansi"
default_layout "default"
mouse_mode false
copy_command "wl-copy"
copy_on_select false
attach_to_session false
session_serialization false
support_kitty_keyboard_protocol false
show_startup_tips false
show_release_notes false

